
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SiteWeb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('homepage')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('ads_index')}}">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('ads_create')}}">Creer une annonce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      {# <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
       <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>#}
    </ul>
        <ul class="navbar-nav ml-auto">
      {% if (app.user) %}
        {#<li class="nav-item">
          <a class="nav-link" href="{{path('account_logout')}}">Déconnexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('account_index')}}">Mon compte</a>
        </li>#}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{app.user.firstname}} {{app.user.lastname}}</a>
       <div class="dropdown-menu dropdown-menu-right">
          <a class="nav-link" href="{{path('account_index')}}">Mon compte</a>
          <a class="nav-link" href="{{path('account_profil')}}">Modifier le Profil</a>
          <a class="nav-link" href="{{path('ads_create')}}">Créer une annonce</a>
          <a class="nav-link" href="{{path('account_password')}}">Modifier mots de passe</a>
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="{{path('account_logout')}}">Déconnexion</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{path('account_register')}}">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('account_login')}}">Connexion</a>
        </li>
      {% endif %}

      <a class="nav-link" href="{{path('homepage')}}">Retour</a>
    </li>
    
    </div>
  </div>
  
</nav>


 {#     {{dump(app.flashes)}}     #} 
{% for label, messages in app.flashes %}
<div class="alert alert-{{label}} alert-dismissible fade show text-center" role="alert">
  
  
  
  {% for message in messages %}
  <strong>Hey!</strong>{{message}}</strong><br>
  {% endfor %}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{# {{dump(label)}}
{{dump(messages)}} #}

{% endfor %}