{% extends 'base.html.twig' %}

{% block title %}Toutes les annonces {% endblock %}

{% block body %}


<div class = "container-md mt-3">
   <h1 class="text-success">Toutes les annonces</h1><br>
   
    <div class="row mb-4">

       {#  {{dump(ads)}}#}


{% for ad in ads %}
                <div class="col-md-6 mt-4">
                  {#recuperer chaque objet  {{dump(ad)}}#}
                <div class="card text-center text-dark bg-light mb-3">
                    <div class="card-header">
                        {{ad.rooms}}  {# appel du getter  #}
                        chambres {{ad.price}} €/nuit<br>
                        Pas encore noté
                    </div>
                    
                    <div class="card-body text-dark bg-light mb-3">
                    
                    {% for img in ad.imageUploads %}
                        {% if loop.first %}
                            <img src="{{img.url}}" style="height:200px;display:block;width:100%;">
                        {% endif %}
                    {% endfor %}
                     
                        <h5 class="card-title mt-2">{{ad.title}}</h5>
                            <p class="card-text">{{ad.introduction|striptags('<i><b><br>')|raw}}</p>  {#raw sert a traité tte les balise mais twig moins protégé, preferer striptags en choisissant la balise#}
                            <a href="{{path('ads_show',{'slug': ad.slug})}}" class="btn btn-success">voir annonce</a>
                    </div>
                
            
            </div>
        </div>
        
            
            
           
{% endfor %}
</div>
</div>
{##}
{% endblock %}





{#    #}